<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-900 font-serif">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center">
                <a class="flex-shrink-0 flex items-center hover:opacity-75" href="/">
                    <img class="block h-8 w-auto mr-4" src="icon.png" alt="Workflow">
                    <div class="text-white font-bold text-2xl">SUPERHERO PEDIA</div>
                </a>
            </div>
        </div>
    </div>
</nav>