<!-- WHOLE BODY -->
<div class="bg-gray-600 text-white">

    <!-- INNER BODY -->
    <div class="mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

        <!-- GRID -->
        <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

            <!-- FOR LOOP TO SHOW ALL CARDS -->
            <% superheros.forEach(superhero => { %> 

                <!-- WHOLE CARD -->
                <a href="/" class="hover:opacity-60 rounded-lg border-4 border-gray-300">

                    <!-- SUPERHERO IMAGE -->
                    <div class="w-full border-b-4 border-gray-300">
                        <img src="<%= superhero.image.url  %>" alt="Superhero image." class="w-full h-full object-center object-cover rounded-t-sm">
                    </div>

                    <!-- SUPERHERO SUMMARY -->
                    <div class="p-4">
                        <h3 class="text-lg m-1 font-semibold">
                            <%= superhero.name  %> 
                        </h3>
                        <p class="text-sm">
                            <%= superhero.biography["full-name"]  %>
                        </p>
                    </div>

                </a>
            <% }); %> 
        </div>
    </div>
</div>